.parentCommentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 4rem;
}
.parentCommentDetail {
  background-color: #fffdd0;
  box-shadow: 10px 10px #907d56;
  border-radius: 20px;
  padding: 30px;
  width: 70%;
  text-align: center;
}
.parentCommentHeader {
  display: flex;
  justify-content: space-around;
  background-color: #ffcc67;
  border-radius: 20px;
}
.parentCommentContent {
  margin-top: 2rem;
}
.parentCommentDesc {
  margin-top: 3rem;
}
.childCommentDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.childCommentDetail {
  text-align: center;
  border-radius: 30px;
  background-color: #ffcc67;
  padding: 50px;
  width: 55%;
}
.replyDiv {
  background-color: #fffdd0;
  text-align: left;
  padding: 40px;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 20px;
}
.replyForm {
  display: flex;
  flex-direction: column;
}
.replyUser {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: bold;
}
.inputReply {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 97%;
  height: 7rem;
  margin-bottom: 1rem;
  resize: none;
}
.replyButton {
  margin-left: 88%;
  cursor: pointer;
  width: 130px;
  padding: 6px;
  background-color: black;
  color: #ffcc67;
  font-weight: bold;
  border-radius: 35px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}
.replyButton:hover {
  background-color: #ffcc67;
  color: black;
}
.replyButtonControl {
  display: flex;
  align-items: right;
  justify-content: right;
}
.childCommentComponent {
  background-color: #907d56;
  border-radius: 30px;
  padding: 20px;
}
.childCommentHeader {
  display: flex;
  justify-content: space-around;
  background-color: #fffdd0;
  border-radius: 20px;
}
.childCommentContent {
  margin-top: 2rem;
  text-align: center;
  color: #ffcc67;
  font-size: 18px;
}
