.changePW-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.changePW-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffcc67;
  border-color: black;
  border-style: solid;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-width: 6px;
  width: 30%;
  border-radius: 50px;
  padding: 80px;
}
.changePW-content input {
  border-radius: 10px;
}
.changeForm {
  width: 50%;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}
