.profile-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffcc67;
  border-color: black;
  border-style: solid;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-width: 6px;
  width: 50%;
  border-radius: 50px;
  padding: 40px;
}
.profile-detail {
  color: #ffbc37;
  border-color: black;
  border-style: solid;
  border-width: 6px;
  background-color: #907d56;
  padding: 30px;
  width: 70%;
  border-radius: 30px;
  text-align: justify;
}
.profile-function {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LogOutButton {
  cursor: pointer;
  width: 130px;
  padding: 6px;
  background-color: black;
  color: #ffcc67;
  font-weight: bold;
  border-radius: 35px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}
.LogOutButton:hover {
  background-color: red;
  color: black;
}
