.feedback-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback-control {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 19px;
}
.feedback-detail {
  display: flex;
  flex-direction: column;
  background-color: #907d56;
  padding: 100px;
  border-radius: 50px;
  border-color: black;
  border-style: solid;
  border-width: 10px;
  width: 80%;
}
.feedback-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-bottom: 30px;
}
.feedback-title h1 {
  font-size: 36px;
}
.feedback-inputScale {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.feedback-inputOption1 {
  display: flex;
  flex-direction: row;
  margin-left: 16%;
}
.feedback-inputOption2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.inputOption-controller {
  text-align: justify;
}
.feed-one,
.feed-two,
.feed-three,
.feed-four,
.feed-five {
  border-radius: 30px;
  border-color: black;
  border-style: solid;
  border-width: 4px;
  background-color: #ffcc67;
  padding: 50px;
  text-align: center;
}
.feedInput {
  font-size: 16px;
  border-radius: 10px;
  width: 60%;
  height: 15vh;
  text-align: center;
  resize: none;
}
.feedback-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedButton {
  padding: 10px;
  margin-top: 5vh;
  width: 20%;
  cursor: pointer;
  background-color: black;
  color: #ffcc67;
  font-weight: bold;
  border-radius: 35px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}
.feedButton:hover {
  background-color: #ffcc67;
  color: black;
}
